<%- include('partials/header') %> <%- include('partials/navbar') %>

<body>
  <div class="wrapper">
    <div class="content">
      <div class="container">
        <% if (success.length > 0 || error.length > 0) { %>
        <div class="msg-container">
          <% if (success.length > 0) { %>
          <div class="msg success"><%= success[0] %></div>
          <% } %> <% if (error.length > 0) { %>
          <div class="msg error"><%= error[0] %></div>
          <% } %>
        </div>
        <% } %>

        <!-- Seu conteúdo vai aqui -->
         

        
      </div>
    </div>

    <!-- Rodapé -->
    <%- include('partials/footer') %>
  </div>
</body>
